
@font-face {
  font-family: 'HarmoniaSansProCyr-bold';
  src: url('/public/assets/fonts/HarmoniaSansProCyr-Bold.otf') format("otf");
}

@font-face {
  font-family: 'HarmoniaSansProCyr-italic';
  src: url('/public/assets/fonts/HarmoniaSansProCyr-Italic.otf') format("otf");
}

@font-face {
  font-family: 'HarmoniaSansProCyr-regular';
  src: url('/public/assets/fonts/HarmoniaSansProCyr-Regular.otf') format("otf");
}

