
// this font is a trademark on google fonts https://nomail.com.ua/api/font-face/13278.css
$font-fam: "Harmonia Sans Pro Cyr", sans-serif;
$white-clr: #ffffff;
$orange-clr:#ff5912;
$grey-clr:#f4f6f8;


body {
  font-family: $font-fam;
}